body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    margin-left: 10px;
}
nav a {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
}
nav a:hover {
    background-color: #45a049;
}
.container {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result-section {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.personality-title {
    background-color: #a54e15;
    color: white;
}
.personality-description {
    background-color: #76228e;
    color: white;
}
.recommended-activities {
    background-color: #4682B4;
    color: white;
}
h2, h3 {
    margin: 0;
}
p {
    margin: 10px 0;
}
.activity-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.activity-button {
    background-color: #4CAF50;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.activity-button:hover {
    background-color: #45a049;
}